regularization_images
regularization_images/*
regularization_images_sampled
regularization_images_sampled/*

lora_output*
lora_output2*
**/wandb

models/*
checkpoints/*

good_images
good_images/*
positive
positive/*
negative
negative/*
.vscode
.vscode/*
*.jsonl
logs
logs/*
validation_prompts.txt

# data file
*.bin

# IDE file
.idea/

